* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* 🚫 hides scrollbars */
}
.background{
  
}
img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}