* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 100vh;
}


img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.parts {
  position: absolute;
  transition-timing-function: linear;
  transition-property: left;
  transition-duration: 3s;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.area {
  position: absolute;
  z-index: 2;
}

.obstacl {
  width: 279px;
  height: auto;
  position: absolute;
  left: 417px;
  top: -18px;
  z-index: 3;
}


/* left: 417px; 
  top: 417px;
  32.578125%
*/

.plain img {
  animation: plainShake 1s infinite alternate linear;
  position: absolute;
  width: 120px;
  height: 80px;
  top: 40%;
  left: 10%;
  transform: translateY(-50%);
  object-fit: cover;
  z-index: 4;
}

.boom {
  position: absolute;
  display: none;
}

#boom1 {
  top: 36%;
  left: 100px;
  width: 100px;
  height: auto;
  z-index: 14;
}

#boom2 {
  top: 25%;
  left: 150px;
  width: 200px;
  height: auto;
  z-index: 12;
}

#boom3 {
  top: 36%;
  left: 200px;
  width: 100px;
  height: auto;
}


@keyframes plainShake {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(-40px)
  }
}